.Collapsible {
    display: flex;
}

.Contents{
    flex: 1;
}

.Collapsible.Closed .ChildArea {
    display: none;
}

.ControlArea {
    display: flex;
    flex-direction: column;
    padding: 0 3px;
}

.Top {
    border: none;
}
.Bottom {
    flex: 1;
}

.ConnectorEdge {
    height: 100%;
}

.ConnectorEdgeInner {
    height: 100%;
    width: calc(50% + -0.5px);
    border-right: 1px dotted #999;
    /* transition: border-width 0.25s ease-in; */

}

.Collapsible .ControlArea:hover .ConnectorEdgeInner {
    border-right: 1px dotted #222;
    /* width: calc(50% - 0.75px) */
}

.Collapsible.Open .Label {
    background-color: #222;
    color: white;

}

.Collapsible.Closed .Label{
    background-color: white;
    color: black;

    border-color: black;
}

.Label {
    transition: all 0.5s ease;
    font-size: 0.5em;
    font-weight: 900;
    height: 1em;
    padding: 0.5em;
    padding-top: 0.4em;
    /* background-color: black; */
    /* padding: 0.2em 1em; */
    vertical-align: middle;
    /* color: white; */
    border-radius: 0.5em;
    display: inline-block;
    margin-left: 1em;
    border: 1px solid transparent;
}
